.row {
    height: 30px;
    background-color: #e7e7e7;
    border-bottom: 1px solid darkgray;
}

#YUicon {
    margin-right: 4px;
}

.plus-button {
    background: none;
    border-radius: 10%;
    border: none;
    height: 30px;
    width: 30px;
}

#plus-icon {
    font-size: 20px;
}

.plus-button:hover {
    background-color: red;
}

.plus-button:hover > #plus-icon {
    color: white;
}

.flex-container {
    display: flex;
}
